<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Mef" version="6.3.0" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net452" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="4.0.20076.12200" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock" version="4.0.20076.12200" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit" version="4.0.20076.12200" targetFramework="net452" />
</packages>